
body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

#full {
    width: 100%;
}

#all-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#contener-text {
    width: 100%;
    background: #110f40;
    border-radius: 0 0 3.25rem 3.25rem; 
}

.header {
    margin: 0 6rem 1rem 6rem; 
    color: #ffff;
    padding: 0.25rem; 
    font-size: 1rem;
}

.button-customer {
    background-color: #ffffff;
    color: #041A40;
    border-radius: 2rem;
    font-size: 0.875rem; 
}

.all-img {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem; 
}

.img-cards1, .img-cards2, .img-cards3 {
    width: 85%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    width: 16.75rem; 
    height: 9.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img1 {
    opacity: 1;
    background: radial-gradient(#595b74, transparent);
}

.img2 {
    opacity: 1;
    background: radial-gradient(#9e592e, transparent);
}

.img3 {
    opacity: 1;
    background: radial-gradient(#2248a2, transparent);
}

.body-part {
    width: 100%;
    margin-top: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navber {
    width: 85%;
    display: flex;
    flex-wrap: nowrap;
    position: static;
    align-items: center;
    justify-content: space-between;
}

.hader-cards {
    width: 85%;
    display: flex;
}

.hader-cards .cards {
    width: 23.3125rem; 
    height: auto;
    background: #d9d9d9;
    border: 1px solid wheat;
    border-radius: 1.875rem 0 1.875rem 0;
    position: relative;
    gap: 0.25rem; 
}


.logo-text {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 40%;
    height: 2.5rem;
    display: flex;
    color: #000000;
    background: #ffffff;
    font-size: 1rem; 
    border-radius: 1.875rem 0 1.875rem 0;
    justify-content: center;
    align-items: center;
}

.all-hader-cards { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all-hader-cards .hader-cards {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0.3125rem;
    gap: 1rem;
}

.card-content {
    margin: 1rem; 
}

.card-tital {
    height: fit-content;
}

.card-foter {
    display: flex;
    justify-content: space-between;
}

.card-arrow-part {
    display: flex;
    justify-content: center;
    gap: 0.125rem; 
    font-size: 0.875rem; 
}

.text {
    font-size: 12.5rem; 
    font-size: 1.125rem;
}

.text-content {
    margin: 5rem;
    gap: 3rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contener-text h1 {
    width: 34.875rem; 
    height: 10.5rem;
    border-radius: 1.875rem; 
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #201f4a;
}

.contener-text span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem; 
    font-size: 1.5rem;
}

.footer-all-code {
    width: 100%;
    height: 100%;
}

.footer-top {
    display: flex;
    margin-bottom: 6rem;
    justify-content: center;
    align-items: center;
}

.footer-top .btn {
    width: 11.25rem; 
    height: 3.125rem; 
    font-size: 1rem; 
    color: #ffffff;
    background: #100F3F;
    display: flex; 
    justify-content: center;
    align-items: center;
}


.cards-end {
    margin: 6rem;
    width: 90%;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.footer-card { 
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.cards-end .newtext {
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
    color: #000000;
}

.cards-end .horizonta-second-last {
    width: 95%;
}

.footer-card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #434343;
}

.footer-card1 h2 {
    font-size: 1rem;
}

.footer-card1 button {
    font-size: 1rem; 
    border: 1.813rem;
    color: #ffffff;
    background: #100F3F;
}

.footer-card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-card2 h2 {
    font-size: 1rem;
}

.child-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.child-cards1, .child-cards2 {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    justify-content: space-between;
}

.footer-card3 h2 {
    font-size: 1rem; 
}

.footer-card3 button {
    width: 11rem;
    height: 2.625rem; 
    font-size: 1rem;
    border: 1.813rem;
    color: #ffffff;
    background: #100F3F;
}

.footer-end {
    width: 85%;
    display: flex;
    padding: 0.3125rem; 
    gap: 20%;
    margin: 0 6rem 0px 6rem;
    justify-content: space-between;
    align-items: baseline;
}

.footer-end1 p {
    font-size: 0.875rem; 
    color: #000000;
}

.footer-end2 {
    display: flex;
    flex-direction: column;
}

.footer-end-logo {
    width: 20.5rem; 
    display: flex;
    margin: 1.25rem 0; 
    justify-content: start;
}

.footer-end-logo img {
    padding: 0.25rem;
}

.footer-end-text h6 {
    font-weight: 400;
    color: #422f20;
    font-size: medium;
}

.footer-end-logo img {
    width: 5.625rem; 
    height: 2.5rem; 
}

#end {
    display: flex;
    margin: 3rem 7rem 7rem;
    margin-bottom: 0;
    justify-content: space-between;
    align-items: end;
}

#end .end-1 img {
    width: 10.625rem; 
    height: 2.1875rem;
}

#end .end-2 {
    width: 21.875rem; 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 0.875rem; 
}

#end .end-3 {
    gap: 0.625rem; 
    width: 12.5rem; 
    display: flex;
    justify-content: flex-start;
}

#end .end-3 img {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 1.4375rem; 
    height: 1.5625rem; 
}

.horizonta-end {
    margin: 0 6rem;
}

.button-text {
    margin: 0;
    display: flex;
    font-size: 0.7rem;
    justify-content: center;
    align-items: baseline;
}

/* iPhone 6-8 landscape · width: 667px */
/* @media screen and (max-width: 667px) and (orientation: landscape) {
    body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    
        #all-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        #contener-text {
            background: #110f40;
            width: 100%;
            border-radius: 0 0 3.25rem 3.25rem;
        }
    
        .header  {
            margin: 0 3.5rem;
            color: #ffff;
            padding: 0.25rem;  
            font-size: large;
        }
    
        .header button {
            margin-bottom: 1.5rem;
        }
    
        .button-customer {
            margin-top: 1rem;
            width: 15.625rem;
            height: 3.125rem;
            font-weight: 300;
            background-color: #ffffff;
            color: #041A40;
            border-radius: 2rem;
            font-size: small;
        }
        
        
        .contener-text .all-img  {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .img-cards1, .img-cards2, .img-cards3 {
            width: 85%;
            height: 5.375rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
    
        .logo-container {
            width: 18.75rem;
            height: 5.375rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.363rem;
        }

        .logo-container img {
            width: 30%;
            height: 30%;
        }
    
        .body-part {
            width: 100%;
            margin-top: 12.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .navber {
            width: 85%;
            margin: 0 8rem;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }
    
        .navber button {
            margin: 0.313rem;
        } 
        
        .hader-cards {
            width: 84%;
            display: flex;
        }
        
    
        .hader-cards .cards {
            width: 35rem; 
            height: auto;
            background: #d9d9d9;
            border-radius: 1.875rem 0 1.875rem 0;
            position: relative;
            gap: 0.25rem; 
        }
    
        .cards img {
            width: 100%;
            border-radius: 1.875rem 0 1.875rem 0;
        }
        
        .logo-text {
            position: absolute;
            top: 0;
            z-index: 0;
            width: 7.5rem;
            height: 2.5rem;
            display: flex;
            color: #000000;
            background: #ffffff;
            font-size: medium;
            border-radius: 1.875rem 0 1.875rem 0;
            justify-content: center;
            align-items: center;
        }
        
    
        .text-content {
            width: 80%;
            margin: 1rem 5rem;
            gap: 3rem;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .contener-text {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
        }
    
        .card-content p {
            margin-top: 0;
            font-size: 1rem;
            margin-bottom: 0.4rem;
        }
    
        .card-foter {
            display: flex;
            gap: 0.1rem;
            justify-content: space-between;
            align-items: center;
        }
    
        .card-arrow-part {
            display: flex;
            justify-content: center;
            gap: 0.01rem;
            font-size: 0.6rem;
        }
    
        .footer-card {
            width: 85%;
            gap: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
    
    
        .footer-card1 button {
            font-size: 0.5rem;
            width: 5rem;
            height: 1.6rem;
            border: 1.813rem;
            color: #ffffff;
            background: #100F3F;
        }
    
        hr {
            margin: 0;
            color: inherit;
            border: 0;
            border-top: var(--bs-border-width) solid;
            opacity: .25;
        }
    
        .footer-card3 button {
            width: 6rem;
            height: 1.625rem;
            font-size: 0.5rem;
            border: 1.813rem;
            color: #ffffff;
            background: #100F3F;
            text-align: center;
        }
        
        .child-cards, p {
            margin-top: 0;
            margin-bottom: 0.5rem;
            font-size: 0.4rem;
        }
    
        .footer-end {
            width: 85%;
            display: flex;
            padding: 0.3rem;
            margin: 0 6rem 0px 6rem;
            justify-content: space-between;
            align-items: baseline;
        }
    
        .horizonta-second-last hr{
                width: 90%;
                margin: 0;
                color: inherit;
                border: 0;
                border-top: var(--bs-border-width) solid;
                opacity: .25;
            }
    
            .footer-end1 p {
                font-size: 0.6rem;
                color: #000000;
            }
    
            .footer-end-text h6 {
                font-weight: 400;
                color: #422f20;
                font-size: 0.8rem;
                font-weight: 600;
            }
            
            #end .end-1 img {
                width: 6rem;
                height: 1.5rem;
            }
    
            #end .end-2 {
                width: 21.875rem;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                font-size: 0.875rem;
                margin: 0 1.5rem;
            } 
} */

/* iPhone 6-8 Plump landscape · width: 736px */
 @media screen and (max-width: 736px) and (orientation: landscape) {
    body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    
        #all-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        #contener-text {
            background: #110f40;
            width: 100%;
            border-radius: 0 0 3.25rem 3.25rem;
        }
    
        .header  {
            margin: 0 3.5rem;
            color: #ffff;
            padding: 0.25rem;  
            font-size: large;
        }
    
        .header button {
            margin-bottom: 1.5rem;
        }
    
        .button-customer {
            margin-top: 1rem;
            width: 15.625rem;
            height: 3.125rem;
            font-weight: 300;
            background-color: #ffffff;
            color: #041A40;
            border-radius: 2rem;
            font-size: small;
        }
        
        
        .contener-text .all-img  {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .img-cards1, .img-cards2, .img-cards3 {
            width: 85%;
            height: 5.375rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
    
        .logo-container {
            width: 18.75rem;
            height: 5.375rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0.363rem;
        }

        .logo-container img {
            width: 30%;
            height: 30%;
        }
    
        .body-part {
            width: 100%;
            margin-top: 12.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .navber {
            width: 85%;
            margin: 0 8rem;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }
    
        .navber button {
            margin: 0.313rem;
        } 
        
        .hader-cards {
            width: 84%;
            display: flex;
        }
        
    
        .hader-cards .cards {
            width: 35rem; 
            height: auto;
            background: #d9d9d9;
            border-radius: 1.875rem 0 1.875rem 0;
            position: relative;
            gap: 0.25rem; 
        }
    
        .cards img {
            width: 100%;
            border-radius: 1.875rem 0 1.875rem 0;
        }
        
        .logo-text {
            position: absolute;
            top: 0;
            z-index: 0;
            width: 7.5rem;
            height: 2.5rem;
            display: flex;
            color: #000000;
            background: #ffffff;
            font-size: medium;
            border-radius: 1.875rem 0 1.875rem 0;
            justify-content: center;
            align-items: center;
        }
        
    
        .text-content {
            width: 80%;
            margin: 1rem 5rem;
            gap: 3rem;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .contener-text {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
        }
    
        .card-content p {
            margin-top: 0;
            font-size: 1rem;
            margin-bottom: 0.4rem;
        }
    
        .card-foter {
            display: flex;
            gap: 0.1rem;
            justify-content: space-between;
            align-items: center;
        }
    
        .card-arrow-part {
            display: flex;
            justify-content: center;
            gap: 0.01rem;
            font-size: 0.6rem;
        }
    
        .footer-card {
            width: 85%;
            gap: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
        }
    
    
        .footer-card1 button {
            font-size: 0.5rem;
            width: 5rem;
            height: 1.6rem;
            border: 1.813rem;
            color: #ffffff;
            background: #100F3F;
        }
    
        hr {
            margin: 0;
            color: inherit;
            border: 0;
            border-top: var(--bs-border-width) solid;
            opacity: .25;
        }

        .cards-end {
            margin: 6rem;
            width: 80%;
            margin-bottom: 1.5rem;
            display: flex;
            flex-direction: column;
        }

        .footer-card3 button {
            width: 6rem;
            height: 1.625rem;
            font-size: 0.5rem;
            border: 1.813rem;
            color: #ffffff;
            background: #100F3F;
            text-align: center;
        }

        
        .text-content p {
            margin-top: 0;
            margin-bottom: 0.5rem;
            font-size: 0.9rem;
        }

        .child-cards, p {
            margin-top: 0;
            margin-bottom: 0.5rem;
            font-size: 0.6rem;
        }
    
        .footer-end {
            width: 85%;
            display: flex;
            padding: 0.3rem;
            margin: 0 6rem 0px 6rem;
            justify-content: space-between;
            align-items: baseline;
        }
    
        .horizonta-second-last hr{
                width: 90%;
                margin: 0;
                color: inherit;
                border: 0;
                border-top: var(--bs-border-width) solid;
                opacity: .25;
            }
    
            .footer-end1 p {
                font-size: 0.6rem;
                color: #000000;
            }

            .footer-end-text h6 {
                font-weight: 400;
                color: #422f20;
                font-size: 0.66rem;
                font-weight: 600;
            }
            
            #end .end-1 img {
                width: 6rem;
                height: 1.5rem;
            }
    
            #end .end-2 {
                width: 21.875rem;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                font-size: 0.875rem;
                margin: 0 1.5rem;
            } 
} 

/* iPad portrait · width: 768px */
@media screen and (max-width: 768px) and (orientation: portrait) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    #all-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contener-text {
        background: #110f40;
        width: 100%;
        border-radius: 0 0 3.25rem 3.25rem;
    }

    .header  {
        margin: 0 3.5rem;
        color: #ffff;
        padding: 0.25rem;  
        font-size: large;
    }

    .header button {
        margin-bottom: 1.5rem;
    }

    .button-customer {
        margin-top: 1rem;
        width: 15.625rem;
        height: 3.125rem;
        font-weight: 300;
        background-color: #ffffff;
        color: #041A40;
        border-radius: 2rem;
        font-size: small;
    }
    
    
    .contener-text .all-img  {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-cards1, .img-cards2, .img-cards3 {
        width: 85%;
        height: 5.375rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo-container{
        width: 18.75rem;
        height: 5.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.363rem;
    }

    .logo-container img {
        width: 30%;
        height: 30%;
    }

    .body-part {
        width: 100%;
        margin-top: 12.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .navber {
        width: 85%;
        margin: 0 8rem;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .navber button {
        margin: 0.313rem;
    } 
    
    .hader-cards {
        width: 84%;
        display: flex;
    }
    

    .hader-cards .cards {
        width: 35rem; 
        height: auto;
        background: #d9d9d9;
        border-radius: 1.875rem 0 1.875rem 0;
        position: relative;
        gap: 0.25rem; 
    }

    .cards img {
        width: 100%;
        border-radius: 1.875rem 0 1.875rem 0;
    }
    
    .logo-text {
        position: absolute;
        top: 0;
        z-index: 0;
        width: 7.5rem;
        height: 2.5rem;
        display: flex;
        color: #000000;
        background: #ffffff;
        font-size: medium;
        border-radius: 1.875rem 0 1.875rem 0;
        justify-content: center;
        align-items: center;
    }
    

    .text-content {
        width: 80%;
        margin: 1rem 5rem;
        gap: 3rem;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contener-text {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .card-content p {
        margin-top: 0;
        margin-bottom: 0.4rem;
    }

    .card-foter {
        display: flex;
        gap: 0.1rem;
        justify-content: space-between;
        align-items: center;
    }

    .card-arrow-part {
        display: flex;
        justify-content: center;
        gap: 0.01rem;
        font-size: 0.6rem;
    }

    .footer-card {
        width: 85%;
        gap: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }


    .footer-card1 button {
        font-size: 0.5rem;
        width: 5rem;
        height: 1.6rem;
        border: 1.813rem;
        color: #ffffff;
        background: #100F3F;
    }

    hr {
        margin: 0;
        color: inherit;
        border: 0;
        border-top: var(--bs-border-width) solid;
        opacity: .25;
    }

    .footer-card3 button {
        width: 6rem;
        height: 1.625rem;
        font-size: 0.5rem;
        border: 1.813rem;
        color: #ffffff;
        background: #100F3F;
        text-align: center;
    }
    
    .child-cards, p {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-size: 0.4rem;
    }

    .footer-end {
        width: 85%;
        display: flex;
        padding: 0.3rem;
        margin: 0 6rem 0px 6rem;
        justify-content: space-between;
        align-items: baseline;
    }

    .horizonta-second-last hr{
            width: 90%;
            margin: 0;
            color: inherit;
            border: 0;
            border-top: var(--bs-border-width) solid;
            opacity: .25;
        }

        .footer-end1 p {
            font-size: 0.6rem;
            color: #000000;
        }

        .footer-end-text h6 {
            font-weight: 400;
            color: #422f20;
            font-size: 0.8rem;
            font-weight: 600;
        }
        
        #end .end-1 img {
            width: 6rem;
            height: 1.5rem;
        }

        #end .end-2 {
            width: 21.875rem;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            font-size: 0.875rem;
            margin: 0 1.5rem;
        }
} 

/* iPad landscape · width: 1024px */
@media screen and (max-width: 1024px) and (orientation: landscape) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    #all-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contener-text {
        background: #110f40;
        width: 100%;
        border-radius: 0 0 3.25rem 3.25rem;
    }

    .header  {
        margin: 0 8rem;
        color: #ffff;
        padding: 0.25rem;  
        font-size: large;
    }

    .header button {
        margin-bottom: 1.5rem;
    }

    .button-customer {
        margin-top: 1rem;
        width: 15.625rem;
        height: 3.125rem;
        font-weight: 300;
        background-color: #ffffff;
        color: #041A40;
        border-radius: 2rem;
        font-size: small;
    }
    
    
    .contener-text .all-img  {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-cards1, .img-cards2, .img-cards3 {
        width: 85%;
        height: 7.375rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo-container{
        width: 18.75rem;
        height: 7.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.363rem;
    }

    .body-part {
        width: 100%;
        margin-top: 12.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .navber {
        width: 85%;
        margin: 0 8rem;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .navber button {
        margin: 0.313rem;
    } 
    
    .hader-cards {
        width: 84%;
        display: flex;
    }
    

    .hader-cards .cards {
        width: 35rem; 
        height: auto;
        background: #d9d9d9;
        border: 1px solid wheat;
        border-radius: 1.875rem 0 1.875rem 0;
        position: relative;
        gap: 0.25rem; 
    }

    .cards img {
        width: 100%;
    }
    
    .logo-text {
        position: absolute;
        top: 0;
        z-index: 0;
        width: 7.5rem;
        height: 2.5rem;
        display: flex;
        color: #000000;
        background: #ffffff;
        font-size: medium;
        border-radius: 1.875rem 0 1.875rem 0;
        justify-content: center;
        align-items: center;
    }
    

    .text-content {
        width: 80%;
        margin: 1rem 5rem;
        gap: 3rem;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contener-text {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
}


@media screen and (max-width: 1064px) and (orientation: landscape){
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    #all-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contener-text {
        background: #110f40;
        width: 100%;
        border-radius: 0 0 3.25rem 3.25rem;
    }

    .header  {
        margin: 0 8rem;
        color: #ffff;
        padding: 0.25rem;  
        font-size: large;
    }

    .header button {
        margin-bottom: 1.5rem;
    }

    .button-customer {
        margin-top: 1rem;
        width: 15.625rem;
        height: 3.125rem;
        font-weight: 300;
        background-color: #ffffff;
        color: #041A40;
        border-radius: 2rem;
        font-size: small;
    }
    
    
    .contener-text .all-img  {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-cards1, .img-cards2, .img-cards3 {
        width: 85%;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo-container{
        width: 16.75rem;
        height: 9.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.563rem;
    }

    .body-part {
        width: 100%;
        margin-top: 12.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .navber {
        width: 85%;
        margin: 0 8rem;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    .navber button {
        margin: 0.313rem;
    } 
    
    .hader-cards {
        width: 84%;
        display: flex;
    }
    

    .hader-cards .cards {
        width: 35rem; 
        height: 23.9375rem;
        background: #d9d9d9;
        border: 1px solid wheat;
        border-radius: 1.875rem 0 1.875rem 0;
        position: relative;
        gap: 0.25rem; 
    }

    .cards img {
        width: 100%;
    }
    
    .logo-text {
        position: absolute;
        top: 0;
        z-index: 0;
        width: 7.5rem;
        height: 2.5rem;
        display: flex;
        color: #000000;
        background: #ffffff;
        font-size: medium;
        border-radius: 1.875rem 0 1.875rem 0;
        justify-content: center;
        align-items: center;
    }
    

    .text-content {
        width: 80%;
        margin: 1rem 5rem;
        gap: 3rem;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contener-text {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .contener-text h1 {
        width: 80%;
        height: 6rem;
        border-radius: 1.875rem;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #201f4a;
    }
    
    .contener-text span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rcap;
        font-size: 1.5rem;
    }
    
    .contener-text span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem; 
        font-size: 1.5rem;
    }
} 




/* @media screen and (max-width: 375px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        border: 2px solid red;
        }
    #all-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contener-text {
        background: #110f40;
        width: 100%;
        border-radius: 0 0 52px 52px;
    }

    .header  {
        margin: 0 8rem;
        color: #ffff;
        padding: 4px;  
        font-size: large;
    }

    .header button {
        margin-bottom: 1.5rem;
    }

    .button-customer {
        margin-top: 1rem;
        width: 250px;
        height: 50px;
        font-weight: 300;
        background-color: #ffffff;
        color: #041A40;
        border-radius: 2rem;
        font-size: small;
    }


    .all-img  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-cards1, .img-cards2, .img-cards3 {
        width: 85%;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo-container{
        width: 268px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 9px;
    }

    .body-part {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .navber {
        width: 85%;
        margin: 0 8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navber button {
        margin: 5px;
    } 
    
    .hader-cards {
        width: 60%;
        display: flex;
    }
    
   
     .cards {
        width: 500px;
        height: 320px;
        background: #d9d9d9;
        border: 1px solid wheat;
        border-radius: 30px 0 30px 0;
        position: relative;
    }

    .cards img {
        width: 100%;
    }
    
    .logo-text {
        position: absolute;
        top: 0;
        z-index: 0;
        width: 7.5rem;
        height: 2.5rem;
        display: flex;
        color: #000000;
        background: #ffffff;
        font-size: medium;
        border-radius: 30px 0 30px 0;
        justify-content: center;
        align-items: center;
    }
    

    .text-content {
        width: 65%;
        margin: 1rem 5rem;
        gap: 3rem;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contener-text h1 {
        width: 558px;
        height: 168px;
        border-radius: 30px;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #201f4a;
    }
    
    .contener-text span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rcap;
        font-size: 1.5rem;
    }
    
    .contener-text span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem; 
        font-size: 1.5rem;
    }
}
*/

